This project is a Flask-based REST API built for managing data about characters from the TV show Friends.  
It reads from a CSV dataset, supports pagination, searching, updating, and deleting records with proper error handling, logging, 
and HTTP status codes.


The dataset used is from:  
[Friends Dataset (GitHub)](https://github.com/gchandra10/filestorage/blob/main/friends_data.csv)

It contains 50 records of main and recurring characters with details such as:
- Name, Gender, Occupation
- Relationship Status
- Notable Traits and Catchphrases
- Episode Count and Screen Time

Feature - Description

Read/Write CSV - Loads and updates the dataset in 'friends_data.csv'
Pagination - Returns paginated character lists with metadata 
Search - Search characters by 'first_name' or 'last_name'
Update - Update character details by 'id'
Delete - Delete a character by 'id'
Logging - Logs every operation and error to 'friends_analysis.log'
Error Handling - Returns descriptive messages with proper HTTP codes 

Tech Stack

- Python 3.12
- Flask – for building REST API routes
- Pandas – for CSV data manipulation
- Logging – for tracking app activity and errors


